In [15]:
import pandas as pd 
import numpy as np 
from os import listdir

In [2]:
pm = pd.read_csv('pm_10.csv',parse_dates = True, index_col = 0)

In [24]:
dfs=[]
for year in range(2010,2022):
    dfs.append(pd.read_csv('weather-h/%s-h.csv'%year,index_col=0))
meta=pd.concat(dfs,ignore_index=True)
meta.shape

(100056, 11)

In [27]:
meta.date = pd.to_timedelta(meta['hour'], unit='H') + pd.to_datetime(meta['date'])
meta = meta.set_index('date')
idx = pd.date_range(meta.index[0], '2021-06-1',freq='h')[:-1]
meta = meta.reindex(idx, fill_value=np.nan)
meta.drop('hour',inplace=True,axis=1)

# pm_10

In [35]:
mega = pd.concat([pm,meta.loc[pm.index]],axis=1)

In [37]:
mega.to_csv('pm_10.csv',date_format='%Y-%m-%d %H:%M:%S')

In [39]:
pd.read_csv('pm_10.csv',index_col=0)

,station,PM 10 ug/m3,tempC,windspeedKmph,winddirDegree,humidity,pressure,cloudcover,precipMM,uvIndex,DewPointC
2017-01-01 00:00:00,شریف.منطقه2,159.0,3,5,49,62,1020,10,0.0,1,-4
2017-01-01 01:00:00,شریف.منطقه2,210.0,3,4,47,64,1019,13,0.0,1,-3
2017-01-01 02:00:00,شریف.منطقه2,197.0,3,4,45,65,1019,16,0.0,1,-3
2017-01-01 03:00:00,شریف.منطقه2,179.0,3,3,43,67,1018,19,0.0,1,-3
2017-01-01 04:00:00,شریف.منطقه2,144.0,3,3,46,69,1018,23,0.0,1,-3
...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31 19:00:00,شریف.منطقه2,43.0,29,11,301,7,1007,0,0.0,1,-7
2021-05-31 20:00:00,شریف.منطقه2,32.0,28,9,318,7,1007,0,0.0,1,-7
2021-05-31 21:00:00,شریف.منطقه2,29.0,26,8,334,8,1007,0,0.0,1,-6
2021-05-31 22:00:00,شریف.منطقه2,45.0,27,8,335,9,1007,0,0.0,1,-5
2021-05-31 23:00:00,شریف.منطقه2,35.0,29,8,335,10,1007,0,0.0,1,-4

# pm_2.5

In [40]:
pm = pd.read_csv('pm_25.csv',parse_dates = True, index_col = 0)

In [41]:
mega = pd.concat([pm,meta.loc[pm.index]],axis=1)
mega.to_csv('pm_25.csv',date_format='%Y-%m-%d %H:%M:%S')

In [42]:
pd.read_csv('pm_25.csv',index_col = 0)

,station,PM 2.5 ug/m3,tempC,windspeedKmph,winddirDegree,humidity,pressure,cloudcover,precipMM,uvIndex,DewPointC
2017-01-01 00:00:00,صدر.منطقه3,103.0,3,5,49,62,1020,10,0.0,1,-4
2017-01-01 01:00:00,صدر.منطقه3,88.0,3,4,47,64,1019,13,0.0,1,-3
2017-01-01 02:00:00,صدر.منطقه3,77.0,3,4,45,65,1019,16,0.0,1,-3
2017-01-01 03:00:00,صدر.منطقه3,68.0,3,3,43,67,1018,19,0.0,1,-3
2017-01-01 04:00:00,صدر.منطقه3,68.0,3,3,46,69,1018,23,0.0,1,-3
...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31 19:00:00,صدر.منطقه3,7.0,29,11,301,7,1007,0,0.0,1,-7
2021-05-31 20:00:00,صدر.منطقه3,7.0,28,9,318,7,1007,0,0.0,1,-7
2021-05-31 21:00:00,صدر.منطقه3,7.0,26,8,334,8,1007,0,0.0,1,-6
2021-05-31 22:00:00,صدر.منطقه3,7.0,27,8,335,9,1007,0,0.0,1,-5
2021-05-31 23:00:00,صدر.منطقه3,21.0,29,8,335,10,1007,0,0.0,1,-4